<div class = "header-container">
  <div class = "brand">WIKI</div>
  <div class = "nav-bar">
    <a href="/posts/welcome"><button class = "nav-button">All Posts</button></a><a href="/session/welcome"><button class = "nav-button">My Posts</button></a><a href="/posts/new"><button class = "nav-button">New Post</button></a>
  </div>
  <div class = "search-bar">
    <form class = "search-container hidden">
      <input type = "text"
             name = ""
             class = "search-input"
             placeholder="Searching For">
      <input type="submit" class = "search-input" value="Search">
    </form>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/1024px-Magnifying_glass_icon.svg.png" height="20" width="20">
  </div>
</div>
