<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WIKI</title>
      <link rel="stylesheet" href="/styles.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Megrim|Cardo' rel='stylesheet' type='text/css'>
    <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
    <script>
        webshims.setOptions('forms-ext', {types: 'date'});
    webshims.polyfill('forms forms-ext');
    </script>
    <script src="/scripts/dropzone.js"></script>
  </head>
  <body>
    <%- body %>
    <div class = "footer-container"></div>
  </body>
</html>
