<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WIKI</title>
      <link rel="stylesheet" href="/styles.css">
      <!--  put the jquery cdn here -->
  </head>
  <body>
    <%- body %>
  </body>
</html>
