
<div class = "nav-bar">
    <div class = "root-nav-button-holder">
      <div class = "anchored">
        <a href="/posts/welcome"><button class = "nav-button">All Posts</button></a>
      </div>
      <div class="unanchored hidden">
        <a href="/posts/welcome"><button class = "nav-button">One </button></a>
      </div>
      <div class="unanchored hidden">
        <a href="/posts/welcome"><button class = "nav-button">One </button></a>
      </div>
    </div>
    <a href="/session/welcome"><button class = "nav-button">My Posts</button></a><a href="/posts/new"><button class = "nav-button">New Post</button></a>
</div>
