
@font-face {
  font-family: 'RosettaTones';
  src: url('RosettaTones.eot?#iefix') format('embedded-opentype'),  url('RosettaTones.woff') format('woff'), url('RosettaTones.ttf')  format('truetype'), url('RosettaTones.svg#RosettaTones') format('svg');
  font-weight: normal;
  font-style: normal;
}
