*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Verdana, Geneva, sans-serif
}

/*HEADER*/
.header-container{
  position: fixed;
  top: 0;
  left: 0;

  height: 3.75em;
  width: 100%;

  background-color: steelblue;

  margin-bottom: .05em;

  box-shadow: 0px 1.25px 3.5px grey;
}

.brand{
  float: left;

  padding: .125em;
  padding-left: .5em;

  font-size: 2.5em;

  font-family: 'Megrim', cursive;
}

.search-bar{
  float: right;
  color: lightgrey;

  margin-right: 1em;
  margin-top: 1em;

  height: 100%;
}

.search-container{
  display: inline-block;
  height: 20px;
}

/*USER CSS*/
.narrow-form-container{
    position: relative;
    top: 10em;

    width: 22em;
    height: auto;

    background-color: white;
    margin: 0 auto;

    margin-bottom: .1em;

    opacity: 0.75;
    filter: alpha(opacity=40);

    border-radius: 5px;
  }

.background-image{
  position: fixed;
  top: 3.75rem;
  right: 0;

  background: url(http://www.spirit1059.com/pics/Feeds/Articles/2015611/118317/Beach.jpg);
  background-size: cover;

  width: 100%;
  padding-top: 66.64%;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.input-container{
  font-size: 1.1em;
  /*text-align: center;*/

  border: 1px lightgrey solid;
  border-radius: 15px;

  padding: .25em;
  margin: .25em;
}
.icon{
  display: inline-block;

  padding-right: .5em;
  padding-left: .75em;

  width: 1em;
}
.single-line-input-form{
  width: 18rem;
  font-size: 1em;

  border: none;
  text-align: center;
}

/*POST CSS*/
.post{
  position: relative;
  top: 4.2em;

  width: 80%;
  height: auto;

  border: 1px grey solid;
  border-radius: .15em;

  margin: 0 auto;

  margin-bottom: .1em;
}

.tag-line{
  font-size: 2em;
  padding: .25em;

  max-height: 2.5em;

  background-color: lightgrey;

  border-radius: .1em;
}

.tag-line:hover{
  transition: .5s;
  background-color: steelblue;
}

.hidden{
    display: none;
}
.content{
  min-height: 12em;
  min-width: 100%;

  padding: .5em;
}

.img-container-one{
  width: 10em;
  height: 10em;

  float: left;
  padding-right: 1em;
  padding-bottom: 1em;
}

.img-container-one img{
  width: 100%;
  height: 100%;
}

.edit{
  position: absolute;
  bottom: 0;
  left:0;
}

.my-button{
  width: 100%;
  height: 2em;

  border: 0;

  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: black;

  padding: .5em;
  margin-bottom: .25em;

  background-color: indianred;
}
.my-button:hover{
  background-color: lightpink;
}
.my-button:link{
  color: black;
}

/*EDIT*/
.info{
  float: left;

  height: 1.75em;
  width: 100%;

  padding: .25em;
  margin-bottom: .25em;

  font-size: 1em;
  text-align: center;
}

.input-post{
  width: 100%;
  height: 2em;

  font-size: 1em;

  padding: .25em;
  margin-bottom: .5em;
}

textarea{
  width: 100%;
  height: 25em;

  padding: .25em;
  margin-bottom: .25em;

  font-size: 1em;

  resize: none;
}

label{
  font-size: 1em;
  padding: .1em;
}

.header{
  text-align: center;
}

.single-post{
  padding: .5em;
}
