<form action="users" method="post">
    <input type = "text"
         name = "user[firstName]"
         placeholder="First Name">
    <input type = "text"
          name = "user[lastName]"
          placeholder="Last Name">
    <input type = "text"
          name = "user[email]"
          placeholder="Email Address">
    <input type = "text"
          name = "reEmail"
          placeholder="Re-enter Email Address">
    <input type = "text"
          name = "user[password]"
          placeholder="Enter Password">
    <input type = "text"
          name = "rePassword"
          placeholder="Re-enter Password">
    <input type="submit" value="Sign Up!">
</form>
