<div class = "post single-post">
    <h2>New Article</h2>
    <hr/>
    <form action="/posts/" method="post"></br>
        <label>Post Title:</label></br>
        <input type = "text"
               name = "post[title]"
               class= "input-post"
               placeholder="Enter Article Title"></br>
       <label>Article Text</label></br>
       <textarea name = "post[articleText]"
                 placeholder="Enter Article Text Here"></textarea></br>
       <label>Link to Photo:</label></br>
        <input type = "text"
               name = "post[coverPhoto]"
               class= "input-post"
               placeholder="Paste Link to Cover Photo">
        <input class = "my-button submit" type="submit" value="Post to Wiki!">
    </form>
</div>
<!--
lastUpdated
lastUpdatedBy
title
description
photos
previousEntries -->
