<p>Last Updated By: </p>
<p>Last Updated On: </p>
<form action="/posts" method="post">
    <input type = "text"
         name = "post[title]"
         placeholder="Enter Article Title">
   <textarea name = "post[articleText]">
        Enter Article Text
    </textarea>
    <input type = "text"
         name = "post[coverPhoto]"
         placeholder="Paste Link to Cover Photo">
    <input type="submit" value="Sign Up!">
</form>
<!-- 
lastUpdated
lastUpdatedBy
title
description
photos
previousEntries -->
